@keyframes title-anim {
  0% {
    color: transparent;
    background-color: none;
    top: calc(100vh - 2em);
    transform: scale(1);
    letter-spacing: 0px;
  }
  20%{
    color: #DEB887;
    transform: scale(1.5);
    letter-spacing: 0.25em;
  }
  35%{
    transform: scale(1);
    letter-spacing: 0px;
  }
  40%{
    top: 0px;
  }
  80%{
    color: #8B4513;
    text-shadow: none;
  }
  100%{
    color: #87CEFA;
    text-shadow: 0em 0em 0.5em #7FFFD4;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5DEB3;
}

.title-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-size: 10vw;
}

.title-container div {
  position: relative;
  animation-name: title-anim;
  animation-delay: calc(var(--anim-delay)*200ms);
  animation-duration: 6s;
  animation-fill-mode: both;
}

.start-nav {
  font-size: 8vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.start-nav div{
  color: #DEB887;
  display: flex;
  border-style: solid;
  border-radius: 0.2em;
  borber-color: #8B4513;
  background-color: #FAEBD7;
  width: 50vmin;
  margin: 1vh;
  box-shadow: 0px 0.5vh #8B4513;
}
