@keyframes title-anim {
  0% {
    position: absolute;
    color: #000000;
    background-color: transparent;
    top: 101vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  80%{
    top: 1ch;
  }
  85%{
    color: #000000;
    background-color: transparent;
  }
  100%{
    
    color: #ffffff;
    background-color: transparent;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: inline-flex;
  flex-direction: row;
}

.title-container div {
  animation-name: title-anim;
  animation-delay: calc(var(--anim-delay)*100ms);
  animation-duration: 4s;
  animation
}

